@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-principal: #191716;
    --color-secundario: #C9C4B4;
    --color-terciario: #FF5A1F;
    --color-cuarto: #E2E4DD;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    background-color: var(--color-principal);
    font-family: "Roboto";
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px; 
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-weight: bold;
}

a{
    color: inherit; 
    text-decoration: none;
}

.logo{
    color: var(--color-secundario); 
    font-size: 1rem;
}

.my-flashcards {
    color: var(--color-secundario);
    font-size: 1rem;
    transition: color 0.3s;
    cursor: pointer;
}

.my-flashcards:hover {
    color: #ff5722; 
}

main{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    opacity: 0;
    transform: translateY(20px); 
    animation: fade 0.8s ease-out forwards;

}

@keyframes fade {
    to {
    opacity: 1;
    transform: translateY(0); 
    }
}


p{
    font-size: clamp(2.5rem, 10vw + 20rem, 7vh);
    line-height:1rem;
    text-align: center;
}

#welcometo{
    color: var(--color-cuarto);
    text-shadow: 1px 1px 2px var(--color-terciario);
}

#studybot{
    color: var(--color-terciario);
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.1px 01px 2px var(--color-secundario);
}

textarea{
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: var(--color-secundario);
    border-radius: 1vw;
    border: 0;
    padding: 2vh;
    width: 25rem;
    max-height:25vh;
    min-height:1vh;
    resize: none; 
    overflow-y: auto; 
    display: block;
    margin: 0 auto;

    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus{
    outline: none;
}

label{
    color: var(--color-cuarto);
    opacity: 60%;
    line-height: 3rem;
    
}

.subtitle{
    width: 100%;
    font-size: 100%;
    text-align: center;
    grid-column: 1 / -1;
    color: var(--color-secundario);
    opacity: 60%;
    font-weight: normal;
}


input{
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-size: 1.5rem;
    text-align: center;
    transition: border-color 0.5s;
    width: 50%;
    grid-column: 1 / -1;
}

input:focus{
    outline: none;
    border-color: #ff5722; /* Se ilumina al escribir */
    color: white;
}

#flashcards-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.flashcard {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    min-height: 20vh;
    height: auto;  

    box-shadow: 0 1px 5px var(--color-secundario);
    background: var(--color-cuarto);
    color: var(--color-principal);
    border-radius: 15px; 
}


.flashcard div {
    flex-grow: 1;
    display: flex;    
    align-items: center; 
    justify-content: center; 
    width: 100%;
    text-align: center;
    padding: 10px;    
}


#showBtn {
    box-sizing: border-box;
    width: 90%;       
    padding: 12px 0;  
    border-radius: 10px;
    border: none;
    background-color: #ff5722; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 15px;  
}

button:hover {
    transform: scale(1.02); 
    filter: brightness(1.1);
}

#submitBtn{
    box-sizing: border-box;
    width: 60%;       
    padding: 40px 0;  
    border-radius: 10px;
    border: none;
    background-color: #ff5722; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;  
    box-shadow: 1px 1px 2px var(--color-secundario);
}

#submitBtn:hover{
    box-shadow: 2px 2px 5px var(--color-secundario);
}


@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

.fade-in {
    animation: fadeIn 0.4s ease-out;
}