@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-principal: #191716;
    --color-secundario: #C9C4B4;
    --color-terciario: #FF5A1F;
    --color-cuarto: #E2E4DD;
}

body{
    display: flex;
    min-height: 100vh;
    font-family:"Roboto";
    font-weight: 400;
    background-color:var(--color-principal);
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;
    margin:auto
}

header{    
    display: flex;         
    justify-content: flex-start; 
    padding: 1rem;          
    position: absolute;     
    top: 0;
    left: 0;
}

a{
    color: inherit; 
    text-decoration: none;
}

h1{
    color: var(--color-secundario);
    opacity: 70%;
    font-size:1rem;
}

main{
    text-align: center;
}

p{
    font-size: clamp(2.5rem, 10vw + 20rem, 7vh);
    line-height: 1vh;
}

#welcome{
    color: var(--color-cuarto);
    text-shadow: 1px 1px 2px var(--color-terciario);
}

#studybot{
    color: var(--color-terciario);
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.1px 01px 2px var(--color-secundario);
}

textarea{
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: var(--color-secundario);
    border-radius: 1vw;
    border: 0;
    padding: 2vh;
    width: 25rem;
    max-height:25vh;
    min-height:1vh;
    resize: none; 
    overflow-y: auto; 
    display: block;
    margin: 0 auto;

    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus{
    outline: none;
}


label{
    color: var(--color-cuarto);
    opacity: 60%;
    line-height: 3rem;
}